/* BEGIN GENERAL STYLES */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  :root {
    --primary: #1b1d1d;
    --secondary: #497980;
    --tertiary: rgb(192, 246, 253);
    --outline: #f9ff9f;
  }

   body {
    background-color: var(--primary);
   }
/* END GENERAL STYLES */

/* BEGIN HEADER STYLES */
   header {
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
   }

   header a {
    justify-content: flex-end;
    color: var(--tertiary);
    margin: 10px;
   }

   .interactive {
    justify-content: flex-end;
    display: inline-flex;
    flex-wrap: wrap;
    color: var(--tertiary);
    margin: 10px;
   }

   .interactive p{
    margin: 0 10px;
   }

   /* END HEADER STYLES */

   /* BEGIN MAIN CONTENT STYLES */
  section {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: var(--tertiary);
    text-shadow: 0 0 2px var(--outline);
    margin: 10px;
    text-align: center;
   }

   section p{
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
   }

   section ol li{
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
   }

   .btn {
    border-color: var(--tertiary);
    display: inline-block;
    padding: 10px 15px;
    background: var(--secondary);
    color: var(--tertiary);
    font-size: 20px;
    border-radius: 12px;
    position: relative;
    top: -3px;
    box-shadow: 0 3px var(--grey);
    margin: 10px;
   }
 
   .question-btn {
    border-color: var(--tertiary);
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    background: var(--secondary);
    color: var(--tertiary);
    font-size: 20px;
    border-radius: 12px;
    position: relative;
    top: -3px;
    box-shadow: 0 3px var(--grey);
    margin: 10px;
   }

   .txtbox {
    border-radius: 6px;
    border-color: var(--tertiary);
    padding: 10px;
   }
   /* END MAIN CONTENT STYLES */

   /* BEGIN JAVASCRIPT SPECIFIC STYLES */
   .hide {
    display: none;  
   }

  .show {
    display: block;
   }

   /* END JAVASCRIPT SPECIFIC STYLES */